In [1]:
1+2

3

In [ ]:
a=2
b=3.14
print(type(a))
print(type(b))

In [6]:
print("a =", a, "and b =" , b)
print(a + b)      # addition
print(a * b)      # multiplication
print(a - b)      # subtraction
print(a / b)      # division
print(b ** a)     # exponentiation
print(2 * a % b)  # modulus - returns the remainder

a = 2 and b = 3.14
5.140000000000001
6.28
-1.1400000000000001
0.6369426751592356
9.8596
0.8599999999999999

In [9]:
myString = "The quick brown fox"

print(myString.startswith("brown"))
print(myString.find("brown"))        # notice that string positions start with 0 like all indexing in Python
print(myString.upper())            # The contents of myString is not changed, if you wanted an uppercase version
print(myString)                    # you would have to assign it to a new variable

False
10
THE QUICK BROWN FOX
The quick brown fox

In [2]:
import pandas as pd

In [5]:
df_SN7577 = pd.read_csv("C:\\Users\\benbo\\Documents\\GitHub\\python-pandas-introduction-workshop\\files\\SN7577.tab", sep='\t')

In [6]:
print(type(df_SN7577))

<class 'pandas.core.frame.DataFrame'>

In [7]:
df_SN7577

,Q1,Q2,Q3,Q4,Q5ai,Q5aii,Q5aiii,Q5aiv,Q5av,Q5avi,...,numhhd,numkid,numkid2,numkid31,numkid32,numkid33,numkid34,numkid35,numkid36,wts
0,1,-1,1,8,0,0,0,1,0,0,...,3,11,2,0,0,0,0,1,0,1.11439
1,3,-1,1,4,0,0,0,0,0,0,...,3,11,2,0,0,0,0,1,0,2.56604
2,10,3,2,6,0,0,0,0,0,0,...,2,11,2,0,0,0,0,1,0,2.04468
3,9,-1,10,10,0,0,0,0,0,0,...,1,-1,2,0,0,0,0,1,0,1.07592
4,10,2,6,1,0,0,0,1,0,0,...,1,-1,2,0,0,0,0,1,0,1.25068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1281,2,-1,3,6,0,0,0,0,0,0,...,2,-1,2,0,0,0,0,1,0,0.85231
1282,10,10,2,10,0,0,0,0,0,0,...,1,-1,2,0,0,0,0,1,0,2.30831
1283,9,-1,8,9,0,0,0,0,0,0,...,4,2,1,1,0,0,0,0,0,2.84823
1284,11,11,1,2,0,0,0,1,1,0,...,2,-1,2,0,0,0,0,1,0,3.45887
1285,10,6,6,6,0,0,0,0,0,0,...,2,-1,2,0,0,0,0,1,0,1.94413

In [8]:
# How many rows?
print(len(df_SN7577))
# How many rows and columns - returned as a tuple
print(df_SN7577.shape)
#How many 'cells' in the table
print(df_SN7577.size)
# What are the column names
print(df_SN7577.columns)
# what are the data types of the columns?
print(df_SN7577.dtypes)

1286
(1286, 202)
259772
Index(['Q1', 'Q2', 'Q3', 'Q4', 'Q5ai', 'Q5aii', 'Q5aiii', 'Q5aiv', 'Q5av',
       'Q5avi',
       ...
       'numhhd', 'numkid', 'numkid2', 'numkid31', 'numkid32', 'numkid33',
       'numkid34', 'numkid35', 'numkid36', 'wts'],
      dtype='object', length=202)
Q1            int64
Q2            int64
Q3            int64
Q4            int64
Q5ai          int64
             ...
numkid33      int64
numkid34      int64
numkid35      int64
numkid36      int64
wts         float64
Length: 202, dtype: object

In [1]:
pwd

'C:\\Users\\benbo'